/******************************************
/* CSS
/*******************************************/
.hero-img {
  background-image: url(../img/hero-7.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.splide__pagination__page.is-active {
  background: var(--color-primary)!important;
}

button:focus {
  box-shadow: none !important;
}

/*****************************
    Typography
*****************************/
@font-face {
  font-family: 'Alta';
  src: url('../fonts/Alta_regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant-Garamond';
  src: url('../fonts/CormorantGaramond-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EB-Garamond';
  src: url('../fonts/EBGaramond-VariableFont_wght.ttf');
  font-weight: 400 800;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: 'Mohave';
  src: url('../fonts/Mohave-VariableFont_wght.ttf');
  font-weight: 400 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: 'Sanchez';
  src: url('../fonts/Sanchez-Regular.ttf');
  font-weight: 400 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 400 600 700 800 900;
  font-style: normal;
}

/* Variables */
* {
  --header-height: 120px;
  
  --color-primary: #65806D;
  
  --color-primary-dark: #052E34;
  --color-primary-dark: #313B30;
  --color-secondary: #000;
  --color-highlight: #f5f5f5;
  --color-background: #fff;
  --color-accent-1: #f5f5f5;
  --color-accent-2: #f5f5f5;
  --color-accent-3: #f5f5f5;
  --color-light: #f5f5f5;
  
  --color-dark: #052E34;
  --color-dark: #313b30;
  --color-dark-o: 49, 59, 48;

  --font-logo: 'Roboto-light', sans-serif;
  --font-logo: 'Sanchez', sans-serif;
  --font-hero: 'Roboto-light', sans-serif;
  --font-hero: 'Sanchez', sans-serif;
  --font-header: 'futura-pt', serif;
  --font-body: 'Inter', sans-serif;
  --font-serif: 'Playfair', serif;
  --font-mono: 'Cormorant-Garamond', serif;


  --header-height: 0;

  --animation-duration: 0.7s;
  --animation-duration-long: 2s;
}

.font-hero {
  font-family: var(--font-hero);
}

.font-logo {
  font-family: var(--font-logo);
}


/* Box Model Hack */
* {
  box-sizing: border-box;
  --header-height: 120px;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.app {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}


/******************************************
/* SECTIONS
/*******************************************/
section {
  min-height: 80vh;
  max-height: fit-content;
}

/* NAVBAR */

.navbar {
  background-color: #fff;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  object-position: center;
  box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
}

.hero-tagline {
  color: var(--color-light);
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */

}


a:hover {
  cursor: pointer;
}

.btn {
  border-radius: 0;
  min-width: 100px;
  font-family: var(--font-header);
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  padding: 0.5rem 0.7rem;
  height: fit-content;
}

.btn-primary:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn-secondary {
  background-color: var(--color-light);
  color: var(--color-secondary);
  border: none;
  padding: 0.5rem 0.7rem;
  height: fit-content;
}

.hero {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
  height: 100svh;
  padding: 0;
  z-index: 0;
}

.logo-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  height: 100%;
  width: 200%;
  background-color: var(--color-primary);
  z-index: -1;
  /* opacity: 0; */
}

.hero .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center;
  box-shadow: none;
  /* box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5); */
  /* background-image: url(../img/hero-2.jpg); */
}

.hero-img {
  color: linear-gradient(
      rgba(175, 173, 172, 0.5),
      rgba(0, 0, 0, 0.5)
  )
}

.img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
transition: all var(--animation-duration) ease-in-out;
}

#hero-tagline-container {
  /* position: absolute;
  top: 77%;
  left: 0%; */
  width: 100%;
  text-align: center;
  /* background-color: rgba(var(--color-dark-o), 0.8);
  width: fit-content; */
}

.hero-spacer {
  height: calc(100vh - var(--header-height));
  width: 100vw;
}


.testimonialContainer {
  background: lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  color: #3e3f3c;
  height: 300px;
}

.splide__arrow {
font-weight: 900;
background-color: rgb(255, 255, 255, 0.5);
}

.splide__arrow > i {
font-size: 1.5rem;
color: black;
}

.splide__arrow--prev {
position: absolute;
top: 50%;
left: 2vw;
z-index: 1;
padding: 0;
}

.splide__arrow--next {
position: absolute;
top: 50%;
right: 2vw;
z-index: 1;
}

.splide__slide.is-active > div {
background-color: white;
/* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
transition: all 0.5s ease;
border: none;
/* transition: box-shadow 0.5s ease; */
}

.splide__slide > div {
transition: all 0.5s ease;
/* transition: box-shadow 0.5s ease; */
min-height: 300px;
max-height: fit-content;
/* background-color: #a5a5a5; */
border: none;
position: relative;
z-index: 0;
}

.splide__slide p {
color: #3e3f3c;
font-size: large;
font-weight: 400;
transition: all 0.5s ease;
font-style: italic;
}

.splide__slide.is-active p {
color: #3e3f3c;
transition: all 0.5s ease;
z-index: 2;
}

/* .splide__slide p {
font-size: large;
background-color: #a5a5a5;
transition: all 0.5s ease;
z-index: 2;
}

.splide__slide.is-active p {
background-color: rgb(255, 255, 255, 0.5);
transition: all 0.5s ease;
z-index: 2;
} */

.splide__slide .fa-quote-left, .splide__slide .fa-quote-right {
font-size: 5rem;
color: rgb(0, 0, 0, 0);
font-style: italic;
transition: all 0.5s ease;
z-index: 1;
} 
.splide__slide .fa-quote-left {
position: absolute;
top: 0;
left: 0;
}
.splide__slide .fa-quote-right {
position: absolute;
bottom: 0;
right: 10px;
}

.splide__slide.is-active .fa-quote-left, .splide__slide.is-active .fa-quote-right {
color: var(--color-primary);
opacity: 0.3;
transition: all 0.5s ease;
z-index: 1;
}








.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

 /* Bootstrap supplemental */
 .vh-20 {
  height: 20vh;
}
.vh-25 {
  height: 25vh;
}
.vh-30 {
  height: 30vh;
}
.vh-40 {
  height: 40vh;
}
.vh-50 {
  height: 50vh;
}
.vh-60 {
  height: 60vh;
}
.vh-70 {
  height: 70vh;
}
.vh-75 {
  height: 75vh;
}
.vh-80 {
  height: 80vh;
}
.vh-90 {
  height: 90vh;
}
.vh-100 {
  height: 100vh;
}


.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.5));
}

/* Bootstrap Breakpoints */
@media (max-width: 576px) { 
  section .content-container {
    width: 90%;
    margin: auto;
  }

  .trip-info span {
    font-size: 0.8rem;
  }

  #inspirational-section span {
    color: var(--color-light);
    font-size: 28px !important;
}

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  section .content-container {
    width: 90%;
    margin: auto;
    padding: 0 1rem 0 1rem;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  section .content-container {
    width: 90%;

  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  section .content-container {
    width: 90%;

  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  section .content-container {
    width: 85%;

  }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  section .content-container {
    width: 75%;

  }
 }





 .fixed {
  position: fixed;
  top: 0;
}

#aside-bottomsection.fixed {
  width: calc(33.3% - 4vw);
  z-index: 1;
  height: fit-content;
  /* transition: all 0.5s ease; */
}

#aside-bottomsection.fixed.bottom {
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
}